name: 'Terraform Infrastructure Deployment'

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  TF_VERSION: '1.5.0'
  TF_IN_AUTOMATION: true
  TF_INPUT: false
  TF_TOKEN_APP_TERRAFORM_IO: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }} # If using Terraform Cloud, add your token to GitHub Secrets
  TF_ORGINIZATION: ${{ secrets.TF_ORGINIZATION }} # If using Terraform Cloud, add your organization name to GitHub Secrets

jobs:
  terraform-apply:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./infra
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        
    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: |
        terraform apply -var-file="vars.tfvars" -auto-approve 